body {
  background: url(../img/background_2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}

div.content {
  overflow: hidden;

  background-color: #fffff0;

  max-width: 900px;
  margin: 1em auto 0 auto;

  border: 10px solid black;
  border-radius: 15px;
}

div.content h1 {
  font-family: "hemondalisaregular", Arial, sans-serif;
}

div.info {
  padding: 0.5em 1.5em 0.5em 1.5em;
}
#logo {
  margin: 0 auto 0 auto;
}

#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  width: 400px;
}

.introduction {
  text-align: center;
}

.introduction h2 {
  font-size: xx-large;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  margin-top: 1.5em;
}

.link {
  text-align: center;

  padding: 10px 7px 10px 7px;

  margin-bottom: 10px;

  border: 2px solid black;
  box-shadow: 7px 7px black;
}

.links img {
  height: 55px;
}

.certs img {
  height: 75px;
}

.boxes ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

.boxes li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 10px;
  min-width: 150px;
  padding: 0.75em 0.5em 0.75em 0.5em;
  border: 2px solid black;
  box-shadow: 7px 7px black;
}

.resume h1 {
  font-size: 2.5em;
  border-bottom: 5px solid;
}

.experience {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 7px 7px black;
}

.experience h2 {
  margin-bottom: 0.1em;
}

.experience h3 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

.box_yellow {
  background-color: #fff35f;
}

.box_pink {
  background-color: #f27796;
}

.box_green {
  background-color: #07bba0;
}

.print_only {
  display: none;
}
